::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #eee;
}
::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #f9f9f9;
}
::-webkit-scrollbar-thumb {
    height: 16px;
    border-radius: 8px;
    background-color: #eee;
}

.main-body {
    position: relative;
    margin: 20px auto;
    width: 750px;
}
h2.title {
    font-size: 30px;
    line-height: 50px;
    text-align: center;
}
.board {
    margin-right: 350px;
}
.user-name {
    text-align: center;
}
.play-status {
    margin-top: 20px;
}
canvas {
    display: block;
    margin: 20px auto;
    /* border: 1px solid #eee; */
    background: rgba(240, 194, 135, .9);
    box-shadow: -2px -2px 2px #efefef, 5px 5px 5px #bcbcbc;
}
.onine-user {
    position: absolute;
    top: 0;
    right: 20px;
    width: 250px;    
}
.onine-title {
    text-align: center;
    line-height: 1;
    font-size: 14px;
    margin-bottom: 20px;
}
#user_list {
    height: 490px;
    padding: 0 10px;
    line-height: 20px;
    overflow-y: scroll;
    border: 1px solid #ddd;
}

.user-item {
    overflow: hidden;
    margin: 5px 0;
}

.user-info {
    float: left;
}

.user-status {
    float: right;
    width: 80px;
    text-align: center;
    cursor: pointer;
}

.gaming-status {
    background: red;
}

.gaming-current {
    background: green;
}